html {
    box-sizing: border-box;
}
body {
	background-color: #0C0C0C;
}
nav {
	padding-top: .75rem;
	background: #0C0C0C;
	background-color: rgba(12, 12, 12, .80);
}
.logo {
	padding: .25rem 1rem .25rem .25rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: .75rem;
	color: #6172D9;
	display: inline-block;
	text-decoration: none;
}
#contactNav {
	margin-left: 1.5rem !important;
}
#skillsNav {
	margin-left: 1.5rem;
}
.resumeButton {
    border-radius: 10%;
    border-style: solid;
    border-color: white;
	border-width: .1rem;
	padding: .5rem .75rem .5rem .75rem !important;
	margin-left: .5rem;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
    font-size: .75rem;
}
.resumeButton:hover {
    color: #0C0C0C !important;
    background-color:white;
}
#contactButton {
    margin-left: 1.125rem;
}
.contact:hover{
    color: white;
    background-color: #FF9D44;
}
.contact {
    border-radius: 10%;
    border-style: solid;
    border-color: #FF9D44;
	border-width: .1rem;
	padding: .5rem .5rem .5rem .5rem !important;
	transition: 0.3s;
    margin-left: .5rem;
}
.nav, .contact {
    font-size: .75rem;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.nav {
    padding-left: 1.5rem;
}
.nav:hover {
	color: #4BCFAC;
}
.about {
	font-size: .68rem;
	font-weight: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: .5rem;
	line-height: 1rem !important;
    margin: 0 0 1.5rem 1rem;
}
.desktop img, .tablet img {
	padding-top: 3rem;
	padding-bottom: 2.5rem;
}
.desktop a, .tablet a {
	margin-left: 7.75rem;
	border-radius: 10%;
    border-style: solid;
    border-color: #6172D9;
	border-width: .1rem;
	padding: .75rem!important;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
    font-size: .75rem;
}
.desktop a:hover, .tablet a:hover {
	background-color: #6172D9;
}
.aboutDesk, .aboutTab {
	font-size: .7rem;
	font-weight: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: .5rem;
	line-height: 1.15rem !important;
    margin: 0 0 1.5rem 1rem;
}
.intro {
	font-size: 3rem;
	color: white;
	font-family: Staatliches;
    margin: 2rem 0 2rem 1rem;
	padding-top: 1rem;
    line-height: 0;
}
.name {
    border-style: solid;
    border-color: #4BCFAC;
	background-color: #4BCFAC;
	padding: 0rem .25rem 0 .25rem;
}
.hello {
	padding-left: .25rem;
}
img {
    display: block;
    margin: 2rem auto 0;
}
.cohDes, .recDes, .cusDes, .contDes, .exDes {
    color: white;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25rem;
	margin-top: .5rem;
	font-size: .85rem;
	margin-left: 3rem;
}
.recTitle, .cusTitle, .cohTitle, .contTitle, .exTitle {
	font-size: 2rem;
	margin-left: 3rem;
	font-family: Staatliches;
	margin-bottom: 0;
	margin-top: 5rem;
	text-shadow: .08rem .08rem white;
}
.recTitle, .exTitle {
	color: #FF9D44;
}
.cusTitle, .conTitle  {
	color: #6172D9;
}
.cohTitle, .contTitle {
	color: #4BCFAC;
}
#contact {
    display: inline-flex;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
footer{
    text-align: center;
    padding-top: 1.5rem;
	padding-bottom: .75rem;
}
.arrow {
	text-shadow: .08rem .08rem white;
}