.resume-button {
	padding: .5rem .75rem .5rem .75rem !important;
}
.desktop-button {
	top: 55%;
	left: 37%;
}
.tablet-button {
	top: 54%;
	left: 37%;
}
.work-buttons:hover {
	background-color: white;
}
.work-buttons {
	background: white;
	background-color: rgba(255, 255, 255, .50);
	border: none;
	color: black;
	display: flex;
	font-size: .65rem;
	margin: 0 auto;
	padding: .75rem!important;
	position: absolute;
	z-index:20;
}
.recent-desktop h1 {
	top: 7%;
	left: 33%;
}
.recent-tablet h1 {
	top: 23%;
	left: 37%;
}
.recent-work h1 {
	font: 2.5rem Staatliches;
	position: absolute;
	text-shadow: .08rem .08rem black;
	z-index:20;
}
img .recent-images{
	display: block;
	position: absolute;
	top: 70%;
	left: 50%;
	z-index:10;
}
.recent-desktop {
	margin-top: 5rem;
	position: relative;
	text-align: center;
}
.recent-tablet {
	margin-top: 5rem;
	position: relative;
	text-align: center;
}
.recent-work {
	margin-top: 5rem;
	position: relative;
	text-align: center;
}
.contact-title{
	color: #FF9D44;
	font: 2rem Staatliches;
	margin: 4rem 0 0 1rem;
    text-shadow: .08rem .08rem white;
}
.mishapen-circle i {
	padding: 2rem 2.1rem !important;
}
.contact-info i {
	background-color: #bfc6ef;
	border: 1px solid #bfc6ef;
	border-radius: 50%;
	color: #6172D9;
	font-size: 3rem;
	list-style: none;
	margin-bottom: .5rem;
	padding: 2rem;
}
.contact-info h4 {
	color: #6172D9;
	text-shadow: .02rem .02rem #a0aae8;
}
.contact-info a:hover {
	color: #4BCFAC;
}
.contact-info li {
	padding: .5rem .85rem;
}
.contact-info, .contact-info a {
	font-size: .75rem;
	line-height: 1rem;
	margin-top: 2rem;
	text-align: center;
}
.contact-info {
	margin-top: 5rem;
}