.information li {
    line-height: 1rem;
    margin-left: 2.5rem;
    padding: .5rem 1rem 0 0;
    text-align: left;
}
.information h1 {
    font: 1.75rem Staatliches;
    margin: 2rem 0 1.5rem;
}
.information {
	font-size: .68rem;
	line-height: .35rem;
    padding: 1.5rem 0 0 1rem;
}
.work-button {
	padding: .5rem 1.2rem .5rem 1.2rem !important;
}
.no-bullet-list li {
    margin: 0;
    padding: 0;
}
.no-bullet-list {
    list-style: none;
}
.jobTitle {
    font-size: .8rem;
    margin-top: 2rem;
}
.orange{
    text-shadow: .08rem .08rem #FF9D44;
}
.purple{
    text-shadow: .08rem .08rem #6172D9; 
 }
 .green{
    text-shadow: .08rem .08rem #4BCFAC; 
 }