body {
	background-color: #0C0C0C;
}
nav {
	background: #0C0C0C;
	background-color: rgba(12, 12, 12, .80);
}
.logo {
	padding: 1rem 2rem 1rem 5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #6172D9;
	display: inline-block;
}
#contactButton {
	margin-left: 20rem;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.contact:hover{
    color: white;
    background-color: #FF9D44;
}
.contact {
    border-radius: 10%;
    border-style: solid;
    border-color: #FF9D44;
	border-width: .1rem;
	padding: 1rem 1.5rem 1rem 1.5rem !important;
	transition: 0.3s;
}
.resumeButton {
    border-radius: 10%;
    border-style: solid;
    border-color: white;
	border-width: .1rem;
	padding: 1rem 1.75rem 1rem 1.75rem !important;
	margin-left: 1.5rem;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}
.resumeButton:hover {
    color: #0C0C0C !important;
    background-color:white;
}
.nav {
	font-weight: bold;
	transition: 0.3s;
}
.nav:hover {
	color: #4BCFAC;
}
#skillsNav {
	padding-left: 40rem;
}
.nav, #contactNav {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-decoration: none;
	padding: 2rem;
}
.intro {
	font-size: 5.5rem;
	color: white;
	font-family: Staatliches;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 2rem;
}
.about {
	font-size: 1rem;
	font-weight: 3rem;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: 1rem;
	line-height: 1.5rem;
	margin-bottom: 3rem;
}
.name {
    border-style: solid;
    border-color: #4BCFAC;
	background-color: #4BCFAC;
	padding: 0rem 1rem 0 1rem;
}
.hello {
	padding-left: 1rem;
}
main p {
	margin-left: 20rem;
}
.recTitle, .cusTitle, .cohTitle, .conTitle {
	font-size: 3rem;
	font-family: Staatliches;
	margin-bottom: 0;
	margin-top: 7rem;
	text-shadow: .08rem .08rem white;
}
.recTitle {
	color: #6172D9;
}
.cusTitle {
	color: #FF9D44;
}
.cohTitle {
	color: #4BCFAC;
}
.conTitle {
	color: #FF9D44;
	text-align: right;
	margin-right: 16.5rem;
	margin-top: 10rem;
}
.description, .email, .phone, .linked {
	color: white;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.9rem;
	margin-top: 0;
	font-size: 1.25rem;
}
.recent, .customer, .cohesion, .boxes{
	display: inline-flex;
}
.recent, .customer, .cohesion{
	margin-top: 10rem;
}
.recWords, .cohWords {
	margin-left: 15rem;
	margin-right: 7rem;
}
.cusImage {
	margin-left: 9rem;
	margin-right: 7rem;
}
.email, .phone, .linked {
	border-radius: 3%;
	border-style: solid;
	border-color: #6172D9;
	border-width: 1rem .125rem .125rem .125rem;
	text-align: center;
	padding: 2rem 2rem 2rem 2rem;
	margin-left: 2rem;
	font-weight: lighter;
	max-height: 12rem;
	max-width: 18rem;
}
.email {
	margin-left: 11rem;
	margin-top: 9rem;
}
.phone {
	margin-top: 5rem;
}
.linked{
	margin-top: 2rem;
}
.linkedIn {
	color: white;
	transition: 0.3s;
}
#contact {
	margin-bottom: 5rem;
}
.linkedIn:hover {
	color: #FF9D44;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
footer{
    text-align: center;
	padding-bottom: 3rem;
}
.arrow {
	text-shadow: .08rem .08rem white;
}