img {
	display: flex;
	margin: 3rem auto 0;
}
.tablet-button {
	padding: .5rem .9rem .5rem .9rem !important;
}
.desktop-button {
	padding: .5rem .55rem .5rem .55rem !important;
}
.description {
	font-size: .7rem;
	font-weight: 1rem;
	line-height: 1.15rem !important;
	margin: 0 0 4rem 1rem;
	padding-top: 2rem;
}
.designs h1 {
	font: 1.75rem Staatliches;
	text-align: center;
	text-shadow: .05rem .05rem white;
	margin: .5rem;
}
.orange {
	color: #FF9D44;
}
.purple  {
	color: #6172D9;
}
.green {
	color: #4BCFAC;
}