.aboutDesk, .aboutTab {
	font-size: .7rem;
	font-weight: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: .5rem;
	line-height: 1.15rem !important;
    margin: 0 0 1.5rem 1rem;
}
.cohDes, .recDes, .cusDes, .contDes, .exDes {
    color: white;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25rem;
	margin-top: .5rem;
	font-size: .85rem;
	margin-left: 3rem;
}
.recTitle, .cusTitle, .cohTitle, .contTitle, .exTitle {
	font-size: 2rem;
	margin-left: 3rem;
	font-family: Staatliches;
	margin-bottom: 0;
	margin-top: 5rem;
	text-shadow: .08rem .08rem white;
}
.recTitle, .exTitle {
	color: #FF9D44;
}
.cusTitle, .conTitle  {
	color: #6172D9;
}
.cohTitle, .contTitle {
	color: #4BCFAC;
}